---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -misc-no-recursion,
  -misc-include-cleaner,
  -readability-identifier-length,
  -readability-simplify-subscript-expr,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-const-cast,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-goto,
  -hicpp-avoid-goto,
  -concurrency-mt-unsafe,
  -portability-avoid-pragma-once,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -bugprone-throwing-static-initialization,
  -cert-err58-cpp,
  -clang-analyzer-deadcode.DeadStores
