---
BasedOnStyle: LLVM

IndentGotoLabels: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true
