BasedOnStyle: LLVM

ColumnLimit: 79
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 8
AccessModifierOffset: -4
IndentGotoLabels: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: Yes
